*{
    font-family:Helvetica;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #F2F2F2;
    color: #333333;
}
a{
    text-decoration: none;
    color: #020101;
    transition: 0.5;
}
a:hover{
    color:#333333;
}